// Quote
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $secondary--grey-blue;
    text-align: center;
    padding: 2.75rem 1.25rem 3.75rem;
    margin-inline: 1rem;
    border-radius: 8px;
    width: min(90%, 500px);
}

.advice-number {
    font-weight: $advice-weight;
    letter-spacing: 3px;
    color: $primary--neon;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 1.75rem;
    opacity: 1;
    transition: $transition;
}

.advice-number.number-transition {
    opacity: 0;
    transform: translateY(10px);
}

blockquote {
    font-weight: 800;
    font-size: clamp(1.5rem, 3.5vw, 1.75rem);
    color: $primary--light;
    margin-bottom: 1.75rem;
    opacity: 1;
    transition: $transition;
}

blockquote.transition {
    opacity: 0;
    transform: translateX(-10px);
}

.divider {
    margin-inline: auto;
}

.advice-button {
    position: absolute;
    cursor: pointer;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    background-color: $primary--neon;
    border: 0;
    border-radius: 50%;
    padding: 1.25rem;
    width: fit-content;
    transition: box-shadow 0.5s ease;

    &:hover,
    &:focus {
        box-shadow: 0 0 13px 0.5px $primary--neon;
    }
}

// Footer
.attribution {
    font-size: 11px;
    text-align: center;
    color: $primary--light;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
