// Colours

$primary--light: hsl(193, 38%, 86%);
$primary--neon: hsl(150, 100%, 66%);

$secondary--blue: hsl(217, 19%, 38%);
$secondary--grey-blue: hsl(217, 19%, 24%);
$secondary--dark-blue: hsl(218, 23%, 16%);
