// Fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

$font: "Manrope", sans-serif;
$quote-weight: 800;
$advice-weight: 600;

// Colours
$primary--light: hsl(193, 38%, 86%);
$primary--neon: hsl(150, 100%, 66%);

$secondary--blue: hsl(217, 19%, 38%);
$secondary--grey-blue: hsl(217, 19%, 24%);
$secondary--dark-blue: hsl(218, 23%, 16%);
